/* You can add global styles to this file, and also import other style files */
:root {
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --color: #118bee;
  --color-accent: #118bee0b;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-text: #000;
  --color-text-secondary: #999;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 150%;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #0097fc;
    --color-accent: #0097fc4f;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-secondary: #e20de9;
    --color-secondary-accent: #e20de94f;
    --color-shadow: #bbbbbb20;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
  }
}

/* Layout */
article aside {
  padding: 0.01rem 0.8rem;
  border-left: 4px solid var(--color-secondary);

  background: var(--color-secondary-accent);
}

body {
  margin: 0;
  padding: 1rem 0;
  overflow-x: hidden;

  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: var(--line-height);

  background: var(--color-bg);
}

footer,
header,
main {
  max-width: var(--width-content);
  margin: 0 auto;
  padding: 2rem 1rem;
}

hr {
  height: 1px;
  margin: 4rem 0;
  border: none;

  background-color: var(--color-bg-secondary);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
}

section aside {
  width: var(--width-card);
  margin: 1rem;
  padding: 1.25rem;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow) var(--color-shadow);
}

section aside:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

section aside img {
  max-width: 100%;
}

/* Headers */
header {
  text-align: var(--justify-important);
}

article header,
div header,
main header {
  padding-top: 0;
}

header a b,
header a em,
header a i,
header a strong {
  margin-right: 1rem;
  margin-left: 1rem;
}

header nav img {
  margin: 1rem 0;
}

section header {
  width: 100%;
  padding-top: 0;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;

  font-weight: bold;
}

nav ul {
  padding: 0;

  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

/* Typography */
code,
samp {
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
  border-radius: var(--border-radius);

  color: var(--color-text);
  text-align: var(--justify-normal);

  background-color: var(--color-accent);
}

details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
}

details summary:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
}

mark {
  padding: 0.1rem;
}

ol li,
ul li {
  padding: 0.2rem 0;
}

p {
  margin: 0.75rem 0;
  padding: 0;
}

pre {
  white-space: normal;
}

pre code,
pre samp {
  display: block;
  max-width: var(--width-card-wide);
  margin: 1rem 0;
  padding: 1rem;
}

small {
  color: var(--color-text-secondary);
}

sup {
  position: relative;
  top: -2px;

  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: var(--border-radius);

  color: var(--color-bg);
  font-weight: bold;
  font-size: xx-small;

  background-color: var(--color-secondary);
}

/* Links */
a {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

  filter: brightness(var(--hover-brightness));
}

a b,
a em,
a i,
a strong,
button {
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);

  font-weight: bold;
  font-size: medium;
}

button:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
  border: 2px solid var(--color);

  color: var(--color-bg);

  background-color: var(--color);
}

a em,
a i {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid var(--color);
  border-radius: var(--border-radius);

  color: var(--color);
}

/* Images */
figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  color: var(--color-text-secondary);
}

/* Forms */
form {
  display: block;
  min-width: var(--width-card);
  max-width: var(--width-card-wide);
  padding: 1.5rem;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);

  text-align: var(--justify-normal);

  box-shadow: var(--box-shadow) var(--color-shadow);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  max-width: var(--width-card-wide);

  font-size: inherit;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
}

label {
  margin-bottom: 0.2rem;

  font-weight: bold;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Tables */
table {
  padding: 0;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;

  text-align: var(--justify-important);
}

table thead {
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius);
  border-collapse: collapse;

  color: var(--color-bg);

  background-color: var(--color);
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

/* Quotes */
blockquote {
  display: block;
  max-width: var(--width-card-medium);
  margin: 1rem auto;
  padding: 1.5rem 1rem;

  font-size: x-large;
  line-height: var(--line-height);
  text-align: var(--justify-important);
}

blockquote footer {
  display: block;
  padding: 1.5rem 0;

  color: var(--color-text-secondary);
  font-size: small;
  line-height: var(--line-height);
}
